<footer id="footer" class="block block-bg-grey-dark" data-block-bg-img="../../assets/img/bg_footer-map.png" data-stellar-background-ratio="0.4">
  <div class="container">
      <div class="row" id="contact">
          <div class="col-md-3">
            <app-contact-us></app-contact-us>
          </div>
          <div class="col-md-6">
            <app-comment></app-comment>
          </div>
          <div class="col-md-3">
            <app-followus></app-followus>  
          </div>
      </div>
      <div class="row subfooter">
        <app-subfooter></app-subfooter>
      </div>
  </div>
</footer>
