Colours:
<br>
<!-- <a href="#orange" class="colour orange active" title="Orange">Orange</a> 
<a href="#green" class="colour green " title="Green">Green</a> 
<a href="#blue" class="colour blue " title="Blue">Blue</a> 
<a href="#lavender" class="colour lavender " title="Lavender">Lavender</a> -->

<a data-color="#orange" class="colour orange active" title="Orange" href="javascript:void(null);">Orange</a> 
<a data-color="#green" class="colour green " title="Green"  href="javascript:void(null);">Green</a> 
<a data-color="#blue" class="colour blue " title="Blue"  href="javascript:void(null);">Blue</a> 
<a data-color="#lavender" class="colour lavender " title="Lavender"  href="javascript:void(null);">Lavender</a> 
