<div class="block-highlight block-pd-h block-pd-sm">
    <h3>
        Sampat Panaskar 
    </h3>
    
        <img src="../../../../../assets/img/misc/Photo.png" style="height: 150px; width: 120px;" alt="About us" class="img-responsive img-thumbnail pull-right m-l m-b">
        <p style="font-size: 12px;">
            A web page designer and developer from Pune (Maharashtra), India,  with experience of delivering responsive web design, development, training and internship sector.
            I have 10 years of experience working with IT Industry. I enjoy reading, and the knowledge and perspective that my reading gives me has strengthened my teaching skills and presentation abilities.
        </p>
        <p style="font-size: 12px;">
            I’m constantly learning web technologies and other design related topics, currently playing around with Angular and WEB API. I’m a skilled in many areas of design and development. Some of my skills include:            
        </p>
        <ul class="list-dotted">
            
            <li>Mobile Applications</li>
            <li>Cloud Development</li>
            <li>Bootstrap and Frameworks</li>
        </ul> 
</div>