<div class="item">
    <div class="row">
      <div class="col-md-6 col-md-push-1 item-caption">
        <h3 class="h3 text-weight-light">
          <span class="text-primary text-weight-strong text-uppercase">ARNVIK GROUP</span> OF COMPANIES
        </h3>
        
        <p>The training is designed for the B-Tech/BSc/BCA/BCom/MCA/MSc-IT/M Tech/MCom students who want to upgrade their technical skills and proficiencies into real time development environment. --- Grab the opportunity --- B-Tech/BSc/BCA/BCom/MCA/MSc-IT/M Tech/MCom students seeking future in Mobile Application Development, Web Development.</p>
        
      </div>
      <div class="col-md-6 hidden-xs">
        <img src="../../../../assets/img/slides/slide2.png" alt="Slide 2" class="center-block img-responsive">
      </div>
    </div>
  </div>