<div id="content">
    <div class="container">
        <div class="block block-border-bottom">
            
            <div class="row">
                <div class="col-md-4">
                    <h3 class="block-title">
                        Login
                      </h3>
                  <div class="stat">
                    <form [formGroup]="form" (ngSubmit)="loginUser(form)">
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                              <span class="input-group-addon"><i class="fa fa-fw fa-envelope"></i></span>
                              <input type="text" formControlName='email' class="form-control" placeholder="Email" name="email">                              
                            </div>
                            <div style="font-size: 10px; color: red;" *ngIf="form.controls['email'].touched && !form.controls['email'].valid">                                                                          
                                <span *ngIf="form.controls['email'].hasError('required') ">  
                                  Please enter email id.
                                </span>  
                                     
                               <span *ngIf="form.controls['email'].hasError('email') ">  
                                  Invalid email id.
                                </span>                                                                                
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="input-group input-group-lg">
                              <span class="input-group-addon"><i class="fa fa-fw fa-lock"></i></span>
                              <input type="password" formControlName='password' class="form-control" placeholder="Password" name="password">                              
                            </div>
                            <div style="font-size: 10px; color: red;" *ngIf="form.controls['password'].touched && !form.controls['password'].valid">                                                                          
                                <span *ngIf="form.controls['password'].hasError('required') ">  
                                  Please enter password.
                                </span> 
                                <span *ngIf="form.controls['password'].hasError('minlength') ">  
                                    Password min length is 6.  
                                </span>  
                                   <span *ngIf="form.controls['password'].hasError('maxlength') ">  
                                  Password max length is 10.  
                               </span>                                                                                                                       
                            </div>
                          </div>
                                                                  
                          <button type="submit" class="btn btn-primary">
                            Login 
                            <i class="fa fa-key"></i>
                          </button>
                          <div class="alert alert-info" *ngIf="isInfo">
                              <button type="button" class="close" data-dismiss="alert">×</button>
                              <h4>
                                Information
                              </h4>
                              <div style="font-size: 14px;">
                                  {{ infoMessage }}  
                              </div>
                          </div>
                    </form>
                      
                  </div>
                </div>
                <div class="col-md-4">
                    <h3 class="block-title">
                        Forgot Password
                      </h3>
                  <div class="stat">
                      <form [formGroup]="formForgot" (ngSubmit)="forgotPassword(formForgot)">
                          <div class="form-group">
                              <div class="input-group input-group-lg">
                                <span class="input-group-addon"><i class="fa fa-fw fa-envelope"></i></span>
                                <input type="text" formControlName='forgotEmail' class="form-control" placeholder="Email">
                                
                              </div>
                              <div style="font-size: 10px; color: red;" *ngIf="formForgot.controls['forgotEmail'].touched && !formForgot.controls['forgotEmail'].valid">                                                                          
                                  <span *ngIf="formForgot.controls['forgotEmail'].hasError('required') ">  
                                    Please enter email id.
                                  </span>  
                                       
                                 <span *ngIf="formForgot.controls['forgotEmail'].hasError('email') ">  
                                    Invalid email id.
                                  </span>                                                                                
                              </div>
                          </div>

                          <button type="submit" class="btn btn-primary">
                            Send Password
                            <i class="fa fa-user"></i>
                          </button>
                      </form>
                      
                  </div>
                </div>
                <div class="col-md-4">
                  <!-- spaces for the ads -->
                  <app-ads-login></app-ads-login>
                </div>
              </div>
        </div>
        
    </div>
</div>
