<div class="row">
    <div class="col-md-8">
        <p>
            <a href="#">ARNVIK</a> Group of Companies is a company specialized in providing comprehensive services. Our web design services, marketing, publication, web programming, positioning, translation and updating of web sites or web pages, are characterized according to the trade policies of our clients, in order to integrate this means of communication within the business strategy Internet guiding each client. Since the start we have come a long way by building a strong relationship with our customers around the world who have a solid foundation. We are a team with great talent and experienced individuals who are always ready to deliver the latest in technology to our customers to be satisfied.
        </p>
        <p>
            With a strong experienced team that constantly interact with our customer service team to work on the latest technology to quickly give you better results. A group of talent led by dynamic CEO provides the ultimate for a company that is in need of web design and web development & Software Development.
        </p>
        <p>
            We have achieved several milestones since our start thanks to the commitment from our dedicated team. The involvement of our team has resulted in the rapid completion of several important.
        </p>
        <p>
            We are IT industry professionals with deep insight into the requirements of the IT industry. <a href="#">ARNVIK</a> Group of Companies has been founded in the year 2008.
        </p>    
        <p>
            At the very outset we would like to introduce ourselves as the Pioneers in the field of IT . Our experienced and expertise teams of IT professionals strengthen to offer our clients in the fields like Web Applications, Web Design, Maintenance, Hosting, Software Development, Consulting and security solution &amp; Internet Marketing.
        </p>        
        <p>
            Our rich domain expertise spans across verticals and industries helps us gain sharper insights into customer needs. Our philosophy helps us with a fresh perspective thus result in relevant creative solutions for customers’ complex needs.
        </p>
        <p>
            <a href="#">ARNVIK</a> Group of Companies is committed to deliver end-to-end IT solutions and services to its customers worldwide. Now we also step up in field of security solution for GPS &amp; CCTV Camera’s.
        </p>
        <p>
            <a href="#">ARNVIK</a> Group of Companies is a highly customer centric organization and it takes pride in building strategic long-term relationships with its customers. It has pan India presence and supports its customers across multiple locations.
        </p>
    </div>
    <div class="col-md-4 hidden-xs">
      <!-- space for google ads -->
      <app-ads-aboutus></app-ads-aboutus>
    </div>
</div>