<div class="col-md-4 text-center">
    <span class="fa-stack fa-5x">
      <i class="fa fa-circle fa-stack-2x text-primary"></i>
      <i class="fa fa-group fa-stack-1x fa-inverse"></i> </span>
    <h4 class="text-weight-strong">
        Business Software Development
      </h4>
    <p>In <a href="#">ARNVIK</a> Group of Companies we provide software solution for your business need. An Application is a software tool designed as to allow a user to perform one or several types of work.</p>
   
  </div>
