<div class="row">
    <div class="col-md-8">
        <p>
            <a href="#">ARNVIK</a> focuses on providing the employees the best opportunity that enables them to enhance their skills and grow in their career. We provide our employees various training courses that include project related training and personality development training courses. This helps them to sharpen their technical skills and personality. We provide numerous and frequent job opportunities that enable the employees to keep growing in their career path facing the challenges in various fields and sustain your accomplishments.
        </p>
        <p>
            Our working environment enables you to work at your best to climb up the career ladder at ease and with involvement contributing to the organization’s growth. We aim at matching you job and your career. Our fresh talents have gone their way up in their career to be a part of <a href="#">ARNVIK</a> and so shall you? We look forward to have you as a part of our <a href="#">ARNVIK</a> family. Thank you for choosing <a href="#">ARNVIK</a>…gateway to your future!
        </p>
        <p>
            <a href="#">ARNVIK</a> is also running EDGE (Industrial Training & Placement Program) in association with many universities & colleges. The program is targeted at bright and fresh students in Engineering and Management. The program is designed to “train-the-right applicant” to support the applicant to get into the appropriate careers in IT.
        </p>
        <p>
            Real Life Projects/Case Studies are necessary to mould a fresh student into a Professional. Unfortunately there are very few companies thinking about it. <a href="#">ARNVIK</a> gives chance to the candidates to work on LIVE PROJECTS. Their Skills are enhanced a lot on such a platform.
        </p>
    </div>
    <div class="col-md-4 hidden-xs">
        <!-- space for google ads -->
        <app-ads-industrialtraining></app-ads-industrialtraining>
    </div>        
</div>