<div class="content">
  <div class="container">
    <div class="jumbotron">
        <div class="row">
          <div class="col-xs-4 col-sm-2" *ngFor="let tech of technologieslist | slice : startPage:paginationLimit" style="padding-bottom: 20px; padding-top: 10px; padding-left: 20px;">
            <a [routerLink]="['../articales',tech.TechnologiesId]" class="overlay-wrapper">
              <img style="text-align: center;" src="{{tech.TechnologiesIcon}}" alt="{{tech.TechnologiesName}}" class="img-responsive underlay">
              <span class="overlay">
                <span class="overlay-content"> <span class="h6">{{tech.TechnologiesName}}</span> </span>
              </span>
              </a>
          </div>
        </div>
        <hr> 
        <div class="row">
          <a [routerLink]="" (click)="showMoreItems()" class="btn btn-more"><i class="fa fa-plus"></i>Load more</a>                              
        </div>
    </div>
  </div>
  
</div>
