<div class="media">
    <div class="media-body">
        <h4 class="media-heading">
          <a href="#" class="text-weight-strong">We are skilled in the development and design of websites with technologies such as:</a>
        </h4>
        <ul>
          <li>
              Web Page Designs
          </li>
          <li>
            Windows Applications
          </li>
        </ul>

        <h4 class="media-heading">
            <a href="#" class="text-weight-strong">We are skilled in the Software Development with technologies such as:</a>
          </h4>
          <ul>
            <li>
                Java
            </li>
            <li>
              .Net
            </li>
            <li>
              Mobile App
            </li>
          </ul>

    </div>
</div>