<h3 class="block-title">
    RECENT POSTS
  </h3>
<!-- Blog post 1-->
<div class="media" *ngFor="let arti of articaleslist | slice : startPage:paginationLimit">
  <div class="media-left hidden-xs">
    <!-- Date desktop -->
    <div class="date-wrapper"> <span class="date-m">{{arti.CreatedDateTime | date: 'MMM'}}</span> <span class="date-d">{{arti.CreatedDateTime | date: 'dd'}}</span> </div>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
        <a *ngIf="isLoggedUser" [routerLink]="['../../postdetails',arti.ArticlesId,arti.TypeId]" class="text-weight-strong">{{arti.ArticlesSubject}}</a>
        <a [routerLink]="" *ngIf="!isLoggedUser" (click)="showNotification();" class="text-weight-strong">{{arti.ArticlesSubject}}</a>
      </h4>
    <!-- Meta details mobile -->
    <ul class="list-inline meta text-muted visible-xs">
      <li><i class="fa fa-calendar"></i> <span class="visible-md">Created:</span> {{arti.CreatedDateTime | date:'dd-MMM-yyy HH:mm a '}}</li>
      <li><i class="fa fa-user"></i> <a href="#">{{arti.Email}}</a></li>
    </ul>
    <p>
        {{arti.ArticlesDesc}}
      <a href="#">{{arti.Email}} <i class="fa fa-angle-right"></i></a>
    </p>
  </div>
  <hr>
</div>

<!-- Blog post 2 -->
<a [routerLink]="" (click)="showMoreItems()" class="btn btn-more"><i class="fa fa-plus"></i>Load more</a>
<br>
<br>
