<div class="container">
  <div class="navbar navbar-default">
    <!--mobile collapse menu button-->
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false"> 
      <span class="sr-only">Toggle navigation</span> 
      <span class="icon-bar"></span> 
      <span class="icon-bar"></span> 
      <span class="icon-bar"></span> 
    </button>

    <app-social></app-social>
    <app-navbar-text></app-navbar-text>
    
  </div>
</div>
