<div class="item">
    <div class="row">
      <div class="col-md-6 col-md-push-5 item-caption">
        <h3 class="h3 text-weight-light">
          Welcome to <span class="text-primary text-weight-strong text-uppercase">Arnvik Group</span>
        </h3>
        
        <p>ARNVIK provide end-to-end learning services and solutions that create a quantifiable path to improve performance and increase knowledge for enterprise customers across India. We imparts qualitative outsourcing partner of IT companies in different domains like ANDROID, iPhone, .NET, PHP, JAVA, J2EE, ORACLE DBA, HTML5-UI Development, WEB DEVELOPMENT, MOBILE APPLICATIONS DEVELOPMENT,SEO and other latest technologies.</p>
        
      </div>
      <div class="col-md-4 col-md-pull-6 hidden-xs">
        <img src="../../../../assets/img/slides/slide1.png" alt="Slide 1" class="center-block img-responsive">
      </div>
    </div>
  </div>