Backgrounds:
<br>
<a data-color="#benches" class="background benches active" title="Benches" href="javascript:void(null);">Benches</a> 
<a data-color="#boots" class="background boots " title="Boots" href="javascript:void(null);">Boots</a> 
<a data-color="#buildings" class="background buildings " title="Buildings" href="javascript:void(null);">Buildings</a>
<a data-color="#city" class="background city " title="City" href="javascript:void(null);">City</a> 
<a data-color="#metro" class="background metro " title="Metro" href="javascript:void(null);">Metro</a>
